.course-item {
    display: inline-block;
    margin: 0 3rem 3rem 1rem;
}
.course-item img {
    height: 200px;
    border-radius: 15px;
}
.course-item_title {
    margin: 0.5rem 0;
}
.course-item_desc {
    font-size: 12px;
    color: rgb(59, 59, 59);
}

.course-list {
    display: inline-block;
    margin: 0 0 3rem 0;
    padding: 0 1rem;
}
.course-list img {
    width: 100%;
    border-radius: 20px;
}
.course-list_title {
    margin: 0.5rem 0;
}
.course-list_desc {
    font-size: 12px;
    color: rgb(59, 59, 59);
}