.recs {
    padding: 2rem 0 2rem 0rem;
}
.recs_title {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.recs_inner {
    overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}